/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
inc/
generate_token.php
install.php
xinfo.php
tests/
storage/
error_log
config/
_index.php
api_call_write_products.php
.htaccess
server_files